/* app.css
 * This file provides substitution value for css variables.
 */


:root { --chatlauncher_button_color: #c10230; }

.background_image {
    width: 100%;
    content:url("https://image-server.mybluemix.net/img/backgrounds/VITA2.background.jpg");
}

.chatlauncher_button_text::before {
    content:"Cloud Service Questions?"
}



/*
* typically you don't need to modify the CSS configuration below this point in the file
*/
@keyframes slideInRight {
    from {
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

button.chatLauncher {
    padding: 28px;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.6), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    animation-duration: 0.5s;
    transition-duration: 0.5s;
    position: fixed;
    height: 100px;
    bottom: 32px;
    right: 32px;
    z-index: 9999;
    border: 4px solid var(--chatlauncher_button_color);
    padding: 7px;
    border-radius: 8px;
    margin: 0;
    text-decoration: none;
    background: var(--chatlauncher_button_color);
    color: white;
    line-height: 1.4;
    font-size: 19px;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 150px;
    opacity: 5.8;
}


button.chatLauncher.open {
    animation-name: slideInRight;
    opacity: 1;
}

button.chatLauncher:hover,
button.chatLauncher:focus {
    opacity: .9;
    border: 4px solid var(--chatlauncher_button_color);
    color: White;
    padding: 4px;
}

button.chatLauncher:focus {
    outline: 1px solid #0053ba;
    outline-offset: -4px;
}
