.uams-body .cards-widget .styled-card h3 a:visited {
    color: #f5f5f5;
}

.loader {
	text-align: center;
	padding-top: 72px;
}

/* Newslist component */

.newslist{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
}

.newslist h2 {
	display: inline-block;
	width: 100%;
}

/* Card/post component */

.news-card{
	display: block;
	flex: 1 0 225px;
	min-width: 225px;
	margin-right: 15px;
	margin-top: 15px;
	vertical-align: top;
	padding: 0 30px 5px;
	background-color: #eee;
}

.news-card .card-image {
	margin: 0 -31px;
}

.news-card .card-image img {
	width: 100%;
}

.newslist .news-card:nth-of-type(1),
.newslist .news-card:nth-of-type(2) {
    flex: 1 0 285px; /* Workaround for Safari Bug */
    min-width: 285px;
}

.news-card .card-body h3 {
	font-size: 22px;
	color: #9d2235;
}
.news-card .card-body h3 a {
	color: #9d2235;
}
.news-card .card-body p {
	font-size: 16px;
 	line-height: 1.4;
 	padding-bottom: 10px;
}

.news-card .card-body{
	display: flex;
	flex-direction: column;
}

.news-card .card-body .title {
	font-weight: bold;
	margin-bottom: 3px;
}

.news-card .card-body .read-more {
	width: fit-content;
	align-self: flex-end;
}

/* Hero Content */
.lighttext #hero-container h1.uams-site-title,
.lighttext #hero-container .hero-content p {
	color:#fff;
}

.darktext #hero-container h1.uams-site-title,
.darktext #hero-container .hero-content p {
	color:#212121;
	text-shadow: 1px 1px 3px rgba(255,255,255,.5);
}

.redtext #hero-container h1.uams-site-title,
.redtext #hero-container .hero-content p {
	color:#9d2235;
	text-shadow: 1px 1px 3px rgba(255,255,255,.5);
}

#hero-container h1 {
	font-size: 68px;
}

#hero-container .udub-slant {
	margin: 15px 0 10px 0;
}

#hero-container .hero-content p {
	font-weight: 400;
	text-shadow: 1px 1px 3px rgba(0,0,0,.5);
	margin-bottom: 20px;
}

#hero-container .hero-button {
	padding-bottom: 10px;
}


@media(max-width: 1200px){

	.news-container {
		justify-content: center;
	}
	.newslist .news-card:nth-of-type(1) {
		flex: 1 0 400px; /* Workaround for Safari Bug */
		min-width: 400px;
	}
	#hero-container h1 {
		padding-right: 0;
	}
	#hero-container .hero-content p {
		width: 100%;
	}
}

@media(max-width: 989px){
	.newslist .news-card:nth-of-type(1) {
		flex: 1 0 285px; /* Workaround for Safari Bug */
		min-width: 285px;
	}
	#hero-container .hero-content p {
		display: none;
	}
}

@media(max-width: 760px){
	.newslist .news-card:nth-of-type(1) {
		flex: 1 0 450px; /* Workaround for Safari Bug */
		min-width: 450px;
	}
	.newslist .news-card:nth-of-type(2) {
		flex: 1 0 235px; /* Workaround for Safari Bug */
		min-width: 235px;
	}

	#hero-container .hero-content p {
		/*display: none;*/
	}
}


@media(max-width: 500px){

	.news-container {
	}
	.newslist{
		min-width: 95%;
	}
	.newslist .news-card {
		flex: 1 0 95%; /* Workaround for Safari Bug */
		min-width: 95%;
	}
	.newslist .news-card:nth-of-type(1) {
		flex: 1 0 95%; /* Workaround for Safari Bug */
		min-width: 95%;
	}
}
